.menu
{
  width: 100%;
  height: 7%;
  z-index: 10;

}
.butt_m,
.butt_r,
.butt_p,
.butt_t,
.butt_a,
.butt_c
{
     width: 100%;
  height: 7%;
  z-index: 1000;
 font-family: 'Play', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 230%;
text-align: center;
color: rgba(255, 255, 255, 0.88);
    text-decoration: none;
    display: flex;
    top: 27%;
}
/*Ссылка "Главная"----------------------------------------*/
.butt_m::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_m::before,
.butt_m::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_m:hover {
  font-weight: bold;
}

.butt_m
{
    position: absolute;
width: 11%;
left: 10%;
top: 2%;


}

/*Ссылка "Рейтинг"---------------------------------------*/
.butt_r::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_r::before,
.butt_r::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_r:hover {
  font-weight: bold;
}

.butt_r
{
    position: absolute;
width: 11%;
left: 25.8%;
top: 2%;

}

/*Ссылка "Пазлы"---------------------------------------*/
.butt_p::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_p::before,
.butt_p::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_p:hover {
  font-weight: bold;
}


.butt_p
{
    position: absolute;
width: 10%;
left: 40.5%;
top: 2%;
}

 /*Ссылка "Тесты"*/
.butt_t::after
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_t::before,
.butt_t::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_t:hover
{
  font-weight: bold;
}


.butt_t
{
    position: absolute;
width: 11%;
left: 52.5%;
top: 2%;
}

/*Ссылка "О нас"---------------------------------------*/
.butt_a::after
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_a::before,
.butt_a::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_a:hover
{
  font-weight: bold;
}

.butt_a
{
    position: absolute;
width: 11%;
left: 65%;
top: 2%;
}

/*Ссылка "Контакты"-----------------------------------*/
.butt_c::after
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_c::before,
.butt_c::after
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_c:hover {
  font-weight: bold;
}

.butt_c
{
    position: absolute;
width: 11%;
left: 79%;
top: 2%;
}

@media (max-width:1170px){

    .menu {
        width: 100%;
        top: 20%;
        font-size: 1vw;
        position: relative;
        height: 3vw;
    }
}
* {

box-sizing: border-box;

}

a {

text-decoration: none;

}

#menu-burger {

width: 60px;

height: 60px;

background: rgba(141, 11, 35, 0.88);

border-radius: 50%;

position: fixed;

top: 2%;

right: 5%;

cursor: pointer;

z-index: 200;

}

#menu-burger .menu-icon {

display: block;

height: 2px;

width: 20px;

background: #fff;

position: absolute;

top: 50%;

left: 50%;

margin-left: -9px;

margin-top: -1px;

}

#menu-burger .menu-icon:after {

content: '';

display: block;

height: 2px;

width: 18px;

background: #fff;

position: absolute;

top: 50%;

left: 50%;

margin-left: -9px;

margin-top: -5px;

transition: 0.35s;

}

#menu-burger .menu-icon:before {

content: ' ';

display: block;

height: 2px;

width: 18px;

background: #fff;

position: absolute;

top: 50%;

left: 50%;

margin-left: -9px;

margin-top: 4px;

transition: 0.35s;

}

#menu-burger .menu-icon.open:before{

transform: rotate(45deg);

margin-top: -1px;

background: #000;

}

#menu-burger .menu-icon.open:after{

transform: rotate(-45deg);

margin-top: -1px;

background: #000;

}

#menu-burger.open {

background: #fff;

}

#menu-burger .menu-icon.open {

background: #fff;

}

#overlay-menu {

position: fixed;

box-sizing: content-box;

background: rgba(141, 11, 35, 0.88);

height: 100%;

width: 30%;

top: 0;

opacity: 0.85;

z-index: 100;

right: -100%;

transition: 0.35s;

}

#overlay-menu.open {

right: 0%;

}

#overlay-menu nav {

height: 60%;

position: relative;

top: 50%;

left: 0;

transform: translateY(-50%);

font-size: 32px;

text-align: center;

}

#overlay-menu nav ul {

display: inline-block;

margin: auto;

height: 100%;

}

#overlay-menu nav ul li {

position: relative;

color: #fff;

margin-bottom: 20px;

list-style-type: none

}

#overlay-menu nav ul li a {

color: #fff;

}

#overlay-menu nav ul li a:after {

content: ' ';

display: block;

position: absolute;

top: 100%;

left: 0;

height: 3px;

width: 0%;

background: #fff;

transition: 0.25s;

}

#overlay-menu nav ul li a:hover:after {

width: 100%;

}
@media (max-width: 550px){
  a{
    font-size: 0.5em;
    margin-left: -20%;
  }
}
@media (max-width: 750px){
  .fig img{
    height: 2%;
  }
  a{
    font-size: 0.7em;
    margin-left: -30%
  }
}
@media (max-width: 550px){
  a{
    font-size: 0.5em;
    margin-left: -50%;
  }
}
@media (min-width: 1170px){

#menu-burger{

display: none;

}

}

@media (max-width: 1170px){

.menu{

display: none;

}

#menu-burger{

display: inline-block;

width: 5vw;

height: 5vw;
}}
